Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [5]:
a = [2,3,4,5,6,7]
a.append("mango")
a.append("banana")
a.append("grpaes")
a.append("orange")
a.insert(5, "apple")
a.pop()
a

[2, 3, 4, 5, 6, 'apple', 7, 'mango', 'banana', 'grpaes']

2. L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4

In [6]:
l = [1,2,3,4,5,6,7]
l[1:4]

[2, 3, 4]

3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [1]:
l = [4,5,6,8,3]
rev = []
for i in range(len(l)) :
    rev.append(l[len(l)-i-1])
rev

[3, 8, 6, 5, 4]

In [2]:
l = [4,5,6,8,3]
l[::-1]

[3, 8, 6, 5, 4]

4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [3]:
l = [2,4,7,3,6,8]
[i**2 for i in l]

[4, 16, 49, 9, 36, 64]

5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [8]:
def tuple_sum(n):
    return sum(n)

In [9]:
my_tuple = (4,20,30,20)
tuple_sum(my_tuple)

74

6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [12]:
s1 = {'mango','apple','water melon','orange'}
s2 = {'mango','apple','kiwi','dragon fruit','musk melon'}
s = s1.union(s2)
s

{'apple',
 'dragon fruit',
 'kiwi',
 'mango',
 'musk melon',
 'orange',
 'water melon'}

7.Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [14]:
s = {"what","are","you","doing"}
s.add("?")
s

{'?', 'are', 'doing', 'what', 'you'}

8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [18]:
animals = {"wolf","lion","elephant","horse","tiger","deer"}
animals.remove("deer")
animals

{'elephant', 'horse', 'lion', 'tiger', 'wolf'}

9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.

In [41]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

movies_books = list(zip(favorite_books,favorite_movies))

print("> movies_books_pair : ")
for pair in movies_books :
    print(pair)

> movies_books_pair :
('Pride and Prejudice', 'The Shawshank Redemption')
('1984', 'The Godfather')
('To Kill a Mockingbird', 'The Dark Knight')

the code combines- favorite books and movies into pairs using the zip() function. It takes one book and one movie at a time and creates a tuple with them.

For example, let's say you have three favorite books and three favorite movies. The code will pair them up like this:

The first book, "1984", will be paired with the first movie, "The Shawshank Redemption".
The second book, "To Kill a Mockingbird", will be paired with the second movie, "The Godfather".
The third book, "Pride and Prejudice", will be paired with the third movie, "The Dark Knight".
The resulting pairs are stored in a list called book_movie_pairs. Each pair is represented as a tuple.

10. Write a Python program to find the difference between consecutive numbers in a list.

In [28]:
l = [4,5,6,8,3]
difference = 0
for i in l :
    difference -= i
difference

-26

In [39]:
def diff_consecutive_numbers(l1) :
    difference = []
    for i in range(1,len(l1)) :
        diff = l1[i]-l1[i-1]
        difference.append(diff)
    return difference
diff_consecutive_numbers(l)

[1, 1, 2, -5]